.cards-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.card {
  flex: 1;
  background: white;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.card p {
  font-size: 15px;
  opacity: 0.8;
  color: #000000;
}

.card h2 {
  margin-top: 10px;
  font-size: 26px;
}

.green {
  color: #16a34a;
}

.red {
  color: #dc2626;
}
