.quick-add-entry {
  gap: 10px;
  margin-bottom: 12px;
  margin-left:20px;
  margin-top:50px;
}

.entry-label {
  font-weight: bold;
}

.category-dropdown {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  color: rgb(255, 0, 0);
}

.amount-input {
  width: 100px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.add-btn {
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  background-color: #16a34a;
  color: white;
  cursor: pointer;
}

.add-btn:hover {
  opacity: 0.85;
}
