.table-container {
  margin-top: 20px;
  margin-bottom: 30px;
}

.table-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

/* Fixed height scroll wrapper */
.table-scroll {
  max-height: 300px; /* adjust height as needed */
  min-height: 300px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

/* Table styling */
.transaction-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
}

.transaction-table th,
.transaction-table td {
  padding: 12px 15px;
  text-align: left;
}

.transaction-table thead {
  background-color: #383838;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.transaction-table tbody tr {
  border-bottom: 1px solid #eee;
  transition: background 0.2s;
  
}

.transaction-table tbody tr:hover {
  background-color: #2c2c2c46;
}

.green {
  color: #16a34a;
  font-weight: 600;
}

.red {
  color: #dc2626;
  font-weight: 600;
}

.delete-btn {
  padding: 4px 10px;
  border: none;
  border-radius: 6px;
  background-color: #ef4444;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover {
  opacity: 0.85;
}

.income-row {
  background-color: #f0fdf4;
}

.expense-row {
  background-color: #fef2f2;
}
