.main-heading{
    font-size: 48px;
    font-weight: bold;
    color: #cfcfcf;
    margin-top: 50px;
    margin-left:50px;
}

.firstpart-container{
    display: flex;
    gap: 30px;;
}

.secondpart-container{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr;
    margin:10px;
}

.TransactionTable-container{
    width: 100%;
}

.journey-progrss{
    font-size: 40px;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}