.main-heading{
     margin: 0 0 6px 0;
  color: #f8fafc;
  font-size: clamp(2rem, 3vw, 2.8rem);
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 1.05;
}

.firstpart-container{
    display: flex;
    gap: 30px;;
}

.secondpart-container{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr;
    margin:10px;
}

.TransactionTable-container{
    width: 100%;
}

.journey-progrss{
    font-size: 40px;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}