.main-heading{
    font-size: 48px;
    font-weight: bold;
    color: #cfcfcf;
    margin-top: 50px;
    margin-left:50px;
}

.firstpart-container{
    display: flex;
    gap: 30px;;
}

.secondpart-container{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr;
    margin:10px;
}

.TransactionTable-container{
    width: 100%;
}